@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #edced3;
  font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size:25px; 
}
.swiper-button-next::after {
    font-size: 25px;
}
.swiper-button-next{
    color: #dd7f8f;
}
.swiper-button-prev{
    color: #dd7f8f;
}

.swiper-pagination-bullet{
    background-color: aliceblue;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #dd7f8f;
}
.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.navbar{
    display: flex;
}
.menu-1{
    margin-right: 180px;
}
.menu-2{
    margin-left: 180px;
    display: flex;
    align-items: center;
}
.logo-1{
    width: 0;
}
.logo-2{
    width: 150px;
}
.socials{
    display: flex;
}
.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #dd7f8f;
    border-radius: 50%;
}
.social:hover{
    background-color: #dd7f8f;
}
.social img{
    margin: 8px 0 0 10px;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #dd7f8f;
}
 #menu{
     display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}
{
    box-sizing: border-box;
    padding: 0;
}
.ni{
    font-size: 20px;
    text-align: justify;
    color: aliceblue;
    background-color: #dd7f8f;
}
.horario{
    padding: 100px 0px;
    background-color: #edced3;
}
.horario-info h2{
    font-size: 75px;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.horario-txt{
    display: flex;
    justify-content: space-between;
}
.txt{
    color: aliceblue;
}
.txt h4{
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 30px;
}
.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.map{
    filter:contrast(93%);
}

.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}
.links h4{
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 25px
}
.links ul li a{
    color: aliceblue;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
p{
    color: #dd7f8f;
}
h4{
    color: #dd7f8f;
}
.links li{
    color:#dd7f8f;
}
h1{
    color: #dd7f8f;
}
p{
    color: aliceblue;
}